body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
}

.name1{
  
  background-color: rgb(20, 19, 19);
  margin: 0;
}
.name{
  color: brown;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.name-in {
  background-color: aqua;
  margin: 0;
  padding: 0;
  margin-bottom: 0.01rem;
}

.contacts {
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
}

.mi {
  margin-top: 25;
  margin-bottom: 25;
  padding: 0;
  border-radius: 10;
  width: 200;
  height: 150;
  border: 2px solid;
  border-color: brown;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.marquee-images {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
}
.m {
  margin: 0;
  padding: 0;
}
.mi:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.topreleases {
  background-color: rgb(20, 19, 19);
  font-size: 20px;
  color: brown;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.most-famous{
    background-color: rgb(20, 19, 19);
  font-size: 20px;
  color: brown;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .li{
    display: flex;
      margin-top: 15px;
      
      height: 100px;
      width: 180px;
      text-decoration: none !important;
    border: 2px solid ;
    border-color: crimson;
    -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  }
  .li:hover{
    -webkit-transform: scale(1.3);
  transform: scale(1.1);
  }
  
  
  .latest{
    text-decoration: none;
  }
  .tr p{
    text-decoration-line: underline !important;
    text-align: center !important;
    text-decoration-color:rgb(29, 3, 126) ;
    color: rgb(4, 91, 163);
  }
  
  @media screen and (max-width:600px) {
    body{
      font-size: small;
    }
      .tr p{
        font-size: small;
      }
      .mi{
        width: 150px;
        height: 100px;
      }
      .mi:hover {
        -webkit-transform: scale(1.19);
        transform: scale(1.19);
      }
      .topreleases{
        font-size: 15px;
        font-weight: 900;
        background-image: linear-gradient(
          #3494E6 , #EC6EAD
        );
        color: rgb(255, 255, 255);
      }
      .most-famous{
        font-size: 15px;
        font-weight: 900;
        background-image: linear-gradient(
          #3494E6 , #EC6EAD
        );
        color: rgb(255, 255, 255);
        stroke: 2px black;
        
      }
      .name1 {
        
        background-image: linear-gradient(
          #3494E6 , #EC6EAD
        );
        color: rgb(255, 255, 255);
        text-decoration: none; 
      }
      .name{
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        text-decoration: none;
      }
      .icons {
        height: 24px;
        width: 24px;


        text-align: center;
        margin: 5px;
        margin-top: 0px;
        line-height: 80px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .icons:hover {
        -webkit-transform: scale(1.19);
        transform: scale(1.19);
    }



    .icons {
        margin-top: 5;

        transition: all 0.3s linear;
        text-decoration: none;
    }

  }