.container,
.container1{
	display: flex;
	position: relative;
	justify-content: center;
	justify-items: center;
	align-items: center;
	  margin-top: 5px;
	}
.container1 a,
	.container a {
	position: relative;
	
	  width: 160px;
	  height: 60px;
	  display: inline-block;
	  background: #fff;
	  margin: 20px;
	}
	.container a:before,
	.container a:after,
	.container1 a:before,
	.container1 a:after
	{
	content:'';
	  position: absolute;
	  inset: 0;
	  transition: 0.5s;
	  background: #f00
	}
	.container a:nth-child(1):before,
	.container a:nth-child(1):after,
	.container1 a:nth-child(1):before,
	.container1 a:nth-child(1):after
	{
	 background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4)
	}
	.container a:nth-child(2):before,
	.container a:nth-child(2):after,
	.container1 a:nth-child(2):before,
	.container1 a:nth-child(2):after
	{
	  background: linear-gradient(45deg, #f0075b, #0e1538, #1aff22);
	}
	.container a:hover:before,
	.container1 a:hover:before
	{
	  inset: -3px;  
	}
	.container a:hover:after,
	.container1 a:hover:after
	{
	  inset: -3px;  
	  filter: blur(10px);
	}
	.container a span,
	.container1 a span{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  display: inline-block;
	  background: #243bb3;
	  z-index: 10;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.2em;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  color: #fff;
	  
	  overflow: hidden;
	}
	.container a span::before , 
	.container1 a span::before{
	content:'';
	  position: absolute;
	  top: 0;
	  left: -50%;
	  width: 100%;
	  height: 100%;
	  background: rgba(255,255,255,0.075);
		transform: skew(25deg)
	}

	@media screen and (max-width:400px) {
		.fl{
			display: none;
		}

	}
	@media screen and (max-width:600px) {
		.fl{
			display: none;
		}

	}
	@media screen and (max-width:850px) {
	
		
	}
	