@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
      99deg,
     
      #FFAFBD, #ffc3a0
    );
  }
  
  .name {
    color: brown;
    text-decoration: none;
    font-size: larger;
    background-color: rgb(20, 19, 19);
    margin: 0;
  }
  
  .name-in {
    background-color: aqua;
    margin: 0;
    padding: 0;
    margin-bottom: 0.01rem;
  }
  
  
  
  .mi {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 10;
    width: 200px;
    height: 150px;
    border-left-color: cadetblue;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border: 2px solid;
  border-color: brown;
  border-radius: 5px;
  }
  .marquee-images {
    margin: 0;
    padding: 0;
    
  }
  .m {
    margin: 0;
    padding: 0;
  }
  .mi:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  .topreleases {
    background-color: rgb(20, 19, 19);
    font-size: 20px;
    color: brown;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .most-famous{
      background-color: rgb(20, 19, 19);
    font-size: 20px;
    color: brown;
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .li{
        margin-top: 10px;
        margin-left: 5px;
        height: 100px;
        width: 180px;
        text-decoration: none !important;
      border: 2px solid ;
      border-color: crimson;
      -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    }
    .li:hover{
      -webkit-transform: scale(1.3);
    transform: scale(1.1);
    }
    .lrl{
      text-decoration: none;
      margin-left: 200px;
    }
    .a i{
      text-decoration: none;
    }
    .container1{
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icons {
        height: 40px;
        width: 40px;


        text-align: center;
        margin: 5px;
        margin-top: 0px;
        line-height: 80px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .icons:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }



    .icons {
        margin-top: 10;

        transition: all 0.3s linear;
        text-decoration: none;
    }
    .image{
      width: 350px;
      height: 240px;
      border: chocolate solid 2px;
      margin-top: 5px;
    }
    .yt {
      margin-left: 250;
      align-self: center;
      height: 50px;
      width: 78px;
      
    }
    .yt1{
      border: 2px solid rgba(255, 0, 0, 0.664);
      background-image: linear-gradient(#E22B26 , #C2181E );
      border-radius: 45px;
      border-left: 50px;
      margin-right: 1175px;
    }
    
    .bru{
      height: 3rem;
      width: 4rem;

    }
    @media screen and (max-width:600px) {
      
      .image{
        width: 280px !important;
        height: 200px !important;
      }
      .container {
        width: 200px;
        height: 200px;
        position: absolute;
        margin-left: 180px;
        margin-top: 50px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: brown;
      }
      .mi{
        width: 150px;
        height: 100px;
      }
      .mi:hover {
        -webkit-transform: scale(1.19);
        transform: scale(1.19);
      }
    }